.btnList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 230px;
}
.btn {
  text-transform: uppercase;
  border: none;
  padding: 10px;
}
.btn[name='good'] {
  background-color: lightgreen;
}
.btn[name='neutral'] {
  background-color: skyblue;
}
.btn[name='bad'] {
  background-color: orangered;
}
