.btnList{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    padding: 0;
    width: 230px;

}
.btn{
    text-transform: uppercase;
    border:none;
    padding:10px;
}
.btn[value="good"]{
    background-color: lightgreen;
}
.btn[value="neutral"] {
  background-color: skyblue;
}
.btn[value='bad'] {
  background-color:orangered;
}

